- if cart.has_products?
  %h2
    Currently in your cart

  %table.table
    %thead
      %th
        Product
      %th
        Amount
      %th
        Price
      %th
    = render cart.cart_lines
    %tfoot
      %tr
        %td.text-right{colspan: 2}
          %strong
            Total
        %td= cart.human_amount
        %td

  = form_tag checkout_path do
    - if @email.present?
      .row
        .col-md-6
          %script.stripe-button{src: "https://checkout.stripe.com/v2/checkout.js", data: {key: Rails.configuration.stripe[:publishable_key], amount: cart.amount*100 }}

    - else
      %h3
        To check out, we need your email

      .row
        .form-group.col-md-6
          = email_field_tag :email, @email, class: "form-control", placeholder: "Enter email here", required: true
        .col-md-2
          = submit_tag "Continue", class: "btn btn-primary"

- else
  %p
    There is nothing in your cart!