%h1
  Invoice
  = @invoice.id.to_s.rjust 4, "0"

%br
%p
  Thank you for purchasing from SuperStore. Here are the details for your purchase:

%br
%table.table
  %thead
    %th
      Product
    %th
      Amount
    %th
      Price
  = render collection: @invoice.cart_lines, as: :cart_line, partial: "cart_lines/invoice_cart_line"
  %tfoot
    %td.text-right{colspan: 2}
      %strong
        Total
    %td
      = @invoice.human_amount
