= simple_form_for([:admin, @category], html: {class: 'form-horizontal' }) do |f|
  = f.error_notification

  = f.input :name
  = f.input :parent_id, collection: @category.available_parents

  = f.button :submit, "Save", class: "btn-primary"