%h1
  Categories

- @categories.each_slice(4) do |categories|
  .row
    - categories.each do |category|
      .col-md-3.text-center
        = link_to [:edit, :admin, category] do
          %img.img-thumbnail{src: "http://placehold.it/160x160"}
        %p
          = link_to category.name, [:edit, :admin, category]
          = link_to "(#{category.products.size})", [:admin, category, :products]

%hr
%p
  = link_to "Add", new_admin_category_path, class: "btn btn-primary"