= simple_form_for([:admin, @product], html: { class: 'form-horizontal col-md-8 col-md-pull-4 product-form' }) do |f|
  = f.error_notification

  = f.input :name
  = f.input :description, input_html: { rows: 8 }
  = f.input :in_stock, input_html: { min: 0 }
  = f.input :category do
    = f.input_field :category_id, collection: Category.all, required: true

  - if @product.persisted?
    %h3
      Set new price

  = render "new_pricing", f: f

  - if @product.persisted?
    %h3
      Add a discount

    = render "new_discount", f: f

  = f.button :submit, "Save", class: "btn-primary"