= f.simple_fields_for :product_pricings, @product.product_pricings.build do |pf|
  = pf.input :price do
    = pf.input_field :price
    - if f.error(:"product_pricings.price")
      = f.error(:"product_pricings.price")

  - if @product.persisted?
    = pf.input :takes_effect_on, :wrapper => :addon do
      = pf.input_field :takes_effect_on, as: :string
      %span.input-group-addon>
        %i.glyphicon.glyphicon-calendar

    - if f.error(:"product_pricings.takes_effect_on")
      .row
        .col-md-push-2.col-md-5= f.error(:"product_pricings.takes_effect_on")
