= f.simple_fields_for :discounts, @product.discounts.build do |pf|
  = pf.input :takes_effect_on, :wrapper => :addon do
    = pf.input_field :takes_effect_on, as: :string
    %span.input-group-addon>
      %i.glyphicon.glyphicon-calendar

  - if f.error(:"discounts.takes_effect_on")
    .row
      .col-md-push-2.col-md-5= f.error(:"discounts.takes_effect_on")
      %br
      %br

  = pf.input :ends_on, :wrapper => :addon do
    = pf.input_field :ends_on, as: :string
    %span.input-group-addon>
      %i.glyphicon.glyphicon-calendar

  = pf.input :percentage_based, as: :stacked_radio_buttons
  = pf.input :amount do
    = pf.input_field :amount
    - if f.error(:"discounts.amount")
      = f.error(:"discounts.amount")
  = pf.hint "Flat amount when not percentage based, % of regular price otherwise"