%h1
  Edit product
  %strong{title: @product.name}= truncate @product.name

  - if @product.category
    .pull-right
      %small
        = link_to [:admin, @product.category, :products], class: "text-muted" do
          ←
          = @product.category.name

.row
  .col-md-4.col-md-push-8
    %h3
      Pricing history

    = render @product.product_pricings.order("takes_effect_on asc")
  = render "form"