%h1
  Products
  - if @category
    %small
      within
      = @category.name

- @products.each_slice(4) do |products|
  .row
    - products.each do |product|
      .col-md-3.text-center
        = link_to [:edit, :admin, product] do
          %img.img-thumbnail{src: "http://placehold.it/160x160"}
          %p{title: product.name}= truncate product.name
        - if product.out_of_stock?
          %span.text-warning
            %strong= product.name
            is out of stock!
        - else
          Stock:
          = product.in_stock

%hr
%p
  - if Category.count > 0
    = link_to "Add", new_admin_product_path, class: "btn btn-primary"
  - else
    Add a category before adding a product!