/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap-timepicker
 *= require_self
 */
@import "twitter/bootstrap";

body.admin { padding-top: 70px; }
textarea { resize: vertical }

// simpleform has a bug, which needs a manual override
.product_discounts_amount,
.product_product_pricings_price {
  .controls {
    width:25%
  }
}

.product_product_pricings_takes_effect_on,
.product_discounts_takes_effect_on,
.product_discounts_ends_on {
  .controls {
    width: 33.33333333%
  }
}

.product-form {
  margin-bottom:80px
}