%p{class: product_pricing == @product.current_pricing ? "lead" : ""}
  %strong= product_pricing.human_price
  %small.text-muted
    Takes effect on
    %abbr.initialism{title: l(product_pricing.takes_effect_on)}= l(product_pricing.takes_effect_on.to_date)
    - if product_pricing.takes_effect_on.future?
      = link_to [:admin, product_pricing], method: :delete, title: "Remove" do
        %span.glyphicon.glyphicon-remove
    - if @product.active_discounts_for(product_pricing).present?
      %br
      With discounts
      %br
      - @product.active_discounts_for(product_pricing).each do |disc|
        = @product.human_price_with_discount(disc, product_pricing)
        from
        %abbr.initialism{title: disc.takes_effect_on}=l disc.takes_effect_on.to_date
        to
        %abbr.initialism{title: disc.ends_on}=l disc.ends_on.to_date
        %br
        - if disc.takes_effect_on.future?
          = link_to [:admin, disc], method: :delete, title: "Remove" do
            %span.glyphicon.glyphicon-remove

- if product_pricing == @product.current_pricing
  %h3
    Future prices