.row
  .col-md-3= render "layouts/category_list"
  .col-md-9
    - @products.each_slice(4) do |products|
      .row
        - products.each do |product|
          .col-md-3.text-center
            = link_to product do
              %img.img-thumbnail{src: "http://placehold.it/160x160"}
              %p{title: product.name}
                = truncate product.name
                %br
                = product.human_price
                - if product.discounted?
                  %span.badge
                    On sale!