%h2
  = @product.name

  .pull-right
    %small
      = link_to [@product.category, :products], class: "text-muted" do
        ←
        = @product.category.name

.media
  %img.img-thumbnail.pull-left{src: "http://placehold.it/200x260"}

  .media-body
    %p.lead
      = @product.description

    %dl
      %dd
        In stock
      %dt
        = @product.in_stock

      %dd
        Price
      %dt
        = @product.human_price

    - if @product.out_of_stock?
      The product is currently out of stock!
    - else
      - if cart.products.include? @product
        %p
          You currently have
          %strong= cart.line_for(@product).count
          of
          %strong= @product.name
          in your cart

      = link_to [:add_to_cart, @product], method: "post", class: "btn btn-primary" do
        - if cart.products.include? @product
          Add 1 more for
          %strong= @product.human_price
        - else
          Add to cart now for
          %strong= @product.human_price

    - if cart.products.include? @product
      = link_to [:delete_from_cart, @product], method: "delete", class: "btn btn-warning" do
        Remove
        %strong= @product.name
        from cart