- flash.each do |name, msg|
  - if msg.is_a?(String)
    .alert{class: "alert-#{name == :notice ? "success" : "danger"}"}
      %a.close{data: {dismiss: "alert"}}
        &#215;
      %div{id: "flash_#{name}"}=msg