!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "Store admin"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body.admin
    = render "layouts/header"

    %main{role: "main"}
      .container
        = render "layouts/messages"
        = yield