!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "SuperStore"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %main{role: "main"}
      .container
        %h1
          Welcome to
          = link_to "SuperStore", root_path
          \- We sell products.
        = render "layouts/messages"
        = render "layouts/cart" unless controller_name == "cart"

        = yield